.ol-scale-line {
    background-color: green;
}

.header-text {
    font-size: 10px !important;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

#main {
    width: 100%;
    height: 100%;
}

#zoom-buttons {
    margin-left: 20px;
    position: absolute;
    top: 80px;
    border-radius: 0px;
}

#home-button {
    margin-left: 20px;
    position: absolute;
    top: 190px;
    border-radius: 0;
}

#geolocation-control {
    margin-left: 20px;
    position: absolute;
    top: 245px;
}

#editpopup {
    z-index: 2431;
}

#popup {
    z-index: 2431;
}

#layerlist {
    position: absolute;
    right: 30px;
    top: 80px;
    font-size: 10px;
}

.layerlistbutton {
    position: absolute !important;
    right: 0px;
    top: 0px;
}

.layer-tree-panel {
    margin-right: 50px;
}

.layer-switcher {
    top: 76px !important;
}

.edit-tool-panel {
    display: none;
    position: absolute;
    left: 652px;
    top: 56px;
    max-width: 50%;
    z-index: 1111;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    top: 56px;
    position: absolute;
    height: calc(100% - 56px);
}

.navigation-place{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3111;
    background: green;
    color: green;
    width: 40px;
    height: 40px;
}

#location {
    position: absolute;
    font-size: 14px;
    color: white;
    top: 22px;
    left: 69%;
    z-index: 3111;
}

#content {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0px;
}

.geocoding-place {
    right: 52%;
    background-color: white;
}

.usual-button {
    position: absolute;
    top: 64px;
    left: 20%;
}

.geocoding-results-panel {
    background-color: white;
    display: none;
    position: absolute;
    top: 56px;
    left: 47%;
    max-width: 55%;
    z-index: 1111;
}

.query-panel {
    display: none;
    left: 387px;
    top: 56px;
    position: absolute;
    max-width: 50%;
    z-index: 1111;
}

.attributes-table {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 0px;
    height: 40%;
    width: 100%;
    z-index: 101;
    background-color: white;
    font-size: 12px;
}

.chart-panel {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 101;
}

.logo-image {
    position: absolute;
    top: 63px;
}

.col-1-3 {
    width: 40%;
    float: left;
    margin-bottom: 7px;
}

.col-2-3 {
    width: 60%;
    float: left;
    margin-bottom: 7px;
}
